.footer{
    &-main{
        background-color:$primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white-color;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.4;
    }

    &-contact{
        padding: 20px 0;
    }

    &-contact__name{
        font-size: 4.6rem;
        letter-spacing: 1px;
        line-height: 1;
        margin-bottom: 10px;
    }

}