.header{
    &-logo{
        width: 200px;
    }
}
.nav{
    &{
        background-color: $primary-color;
    }
    &-list{
        display: flex;
        gap: 20px;
    }
    &-link{
        color: $white-color;
        text-transform: uppercase;
        font-size: 1.8rem;
        display: block;
        padding: 15px 0;
        transition: ease-in-out .3s;
        &::after{
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: $white-color;
            transition: ease-in-out .3s;
        }
        &:hover::after{
            width: 100%;
        }
    }
}