.slider{
    &{

    }

    &-main{

    }

    &-carousel{

    }

    &-item{

    }
    &-link{
        padding-top: 40%;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}